@import '../../styles/_variaveis.scss';

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    background-color: $azul-escuro;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}
img{
    margin-right: 30px;
}
h3{
    color: #ffffff;
    font-family: 'GhandiSansBold';
}